body{
    font-family: Arial, serif;
    min-width: 1170px;
}
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header{
    background-color: #2929a3;
}
.header_row{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header-logo{
    width: 60px;
    height: 60px;
}
.menu_list{
    display: flex;
    flex-direction: row;
}
.menu_link{
    display: inline-block;
}